@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojIWWaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjo0oSWaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoDIOWaA.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Slab', serif;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
}
@media (max-width: 500px) {
  .container {
    width: 95vw;
    margin: 0 auto;
    max-width: 90vw;
  }
}
@media (max-width: 500px) {
  .mobile-hide {
    display: none;
  }
}
#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}
.nav {
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}
.nav li {
  list-style: none;
  padding: 16px 0;
}
.nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
.nav li a:hover {
  font-weight: bold;
  color: #0A2738;
  border-bottom: solid white;
}
.menu-bg,
#menu-bar {
  top: 3rem;
  left: 1rem;
  position: absolute;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 5px;
  margin: 30px 0 20px 20px;
  background: #2196F3;
  border-radius: 50%;
  transition: 0.3s ease;
}
#menu-bar {
  z-index: 2;
}
.change-bg {
  width: 300px;
  height: 100%;
  transform: translate(-65%, -50%);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.change {
  display: block;
}
.hero {
  background: url("/src/images/icons/large.svg") no-repeat;
  height: 90vh;
  background-position: center;
  background-size: cover;
}
@media (max-width: 600px) {
  .hero {
    background: url("/src/images/icons/mobile-bg.svg") no-repeat;
    height: 10%;
    width: 100%;
    background-position: top;
    background-size: contain;
  }
}
header {
  flex-wrap: wrap;
  padding-top: 3rem;
  display: flex;
  justify-content: "space-between";
  align-items: "center";
}
@media (max-width: 1139px) {
  header {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  header {
    padding-top: 2rem;
    flex-wrap: nowrap;
  }
}
header .burger-menu {
  display: none;
}
@media (max-width: 500px) {
  header .burger-menu {
    display: block;
  }
}
@media (max-width: 500px) {
  .logo-area img {
    width: 100%;
    height: auto;
  }
}
nav a {
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  color: white;
  transition-duration: 0.6s;
}
nav a:hover {
  color: #0A2738;
  border-bottom: solid white;
}
nav .signup {
  border: 0.1rem solid white;
  padding: 0.4rem 0.9rem;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .navigation {
    display: none;
  }
}
.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}
@media (max-width: 500px) {
  .test {
    flex-direction: column;
    padding-top: 2rem;
  }
}
.cta-area {
  flex-direction: column;
  align-self: flex-start;
  max-width: 30rem;
}
.cta-area h1 {
  font-size: 3rem;
  line-height: 4rem;
  color: white;
}
@media (max-width: 500px) {
  .cta-area h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (max-width: 850px) and (min-width: 500px) {
  .cta-area h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
.cta-area p {
  padding: 3rem 0;
  font-size: 1.3rem;
  line-height: 2rem;
}
@media (max-width: 500px) {
  .cta-area p {
    padding: 1rem 0;
  }
}
.cta-area .mobile-signup {
  display: none;
}
@media (max-width: 500px) {
  .cta-area .mobile-signup {
    display: inline-block;
    padding: 0.8rem 3rem;
    border: 0.2rem solid white;
  }
  .cta-area .mobile-signup a {
    font-size: 1rem;
    color: white;
  }
}
@media (max-width: 500px) {
  .cta-area {
    text-align: center;
    width: 100%;
  }
}
.download-logos {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .download-logos {
    display: none;
  }
}
@media (max-width: 1140px) {
  .download-logos {
    display: none;
  }
}
.app-mockup {
  display: flex;
}
.app-mockup img {
  width: 100%;
  height: 100%;
}
@media (max-width: 500px) {
  .app-mockup img {
    display: none;
  }
}
@media (max-width: 850px) and (min-width: 501px) {
  .app-mockup img {
    width: 90%;
    height: auto;
  }
}
.stats-number {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
}
.stats-number h4 {
  font-size: 2.5rem;
  color: #0A2738;
  padding: 1rem 0;
}
.stats-number p {
  color: #2196F3;
}
@media (max-width: 500px) {
  .stats-number {
    display: flex;
    justify-self: flex-start;
  }
}
.stats-number img {
  width: 50%;
  height: auto;
}
.stats-wrapper {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .stats-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 2rem;
  }
}
@media (min-width: 500px) {
  .list-page {
    display: none;
  }
}
@media (max-width: 500px) {
  .list-page {
    display: block;
  }
}
.cus-nav {
  position: fixed;
  height: 10px;
  width: 100%;
  background: white;
}
.cus-nav .logo {
  display: none;
}
.btn-cta {
  transition-duration: 0.6s;
}
.btn-cta:hover {
  color: #0A2738;
  background-color: #2196F3;
  color: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.section-one {
  padding-top: 13rem;
  text-align: center;
}
@media (max-width: 600px) {
  .section-one {
    padding-top: 2rem;
  }
}
.section-one h2 {
  font-weight: bold;
  font-size: 40px;
  color: #0A2738;
}
.section-one p {
  padding-top: 2rem;
  color: #0A2738;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
}
.section-one button {
  font-family: Roboto Slab;
  width: 200px;
  height: 47px;
  background-color: transparent;
  border: 0.1rem solid #2196F3;
  font-size: 1.8rem;
  color: #2196F3;
  border-radius: 1rem;
  margin-top: 7rem;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 7rem;
  flex-wrap: wrap;
}
.card-container .card {
  margin-top: 2rem;
  width: 22rem;
  height: 17rem;
  background: #ffffff;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 2rem 4rem;
  transition: 0.6s;
}
.card-container .card:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.card-container .card h5 {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  color: #2196F3;
}
.section-two {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 10rem;
}
@media (max-width: 780px) {
  .section-two {
    flex-direction: column;
    padding: 0 1rem;
  }
}
.section-two-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-two-left .section-two-title {
  font-weight: 200;
  font-size: 3rem;
  line-height: 4rem;
  color: #2196F3;
  margin-bottom: 2rem;
}
@media (max-width: 780px) {
  .section-two-left .section-two-title {
    text-align: center;
    padding-top: 4rem;
  }
}
.section-two-left p {
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #0A2738;
  padding: 1.5rem;
  text-align: center;
}
.section-two-left button {
  background: #2196f3;
  border-radius: 10px;
  width: 200px;
  height: 47px;
  color: white;
  font-family: Roboto Slab;
  margin-top: 3rem;
  font-size: 1.3rem;
  align-items: center;
  text-align: center;
  transition-duration: 0.6s;
}
.section-two-left button:hover {
  background-color: white;
  border: solid #2196F3;
  color: #2196F3;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.section-two-left a {
  color: white;
}
.section-two-left a:hover {
  color: #2196F3;
}
.section-two-right {
  flex-direction: column;
}
@media (max-width: 780px) {
  .section-two-right img {
    width: 90%;
    height: auto;
    padding-top: 3rem;
  }
}
.section-three {
  margin-top: 7rem;
  background-color: #2196F3;
  padding: 4rem 0;
}
.section-three-title {
  text-align: center;
  color: white;
  font-size: 1.8rem;
  padding-bottom: 4rem;
}
.section-three-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  .section-three-icons {
    flex-direction: column;
  }
}
.section-three-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem 2rem;
  color: white;
  font-size: 1rem;
}
.section-three-icon h5 {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
}
.about-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
@media (max-width: 511px) {
  .about-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 512px) and (max-width: 1079px) {
  .about-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.about-nav a {
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  color: #2196F3;
  transition-duration: 0.6s;
}
.about-nav a:hover {
  color: #0A2738;
  border-bottom: solid #2196F3;
}
.about-nav .signup-about {
  border: 0.1rem solid #2196F3;
  padding: 0.4rem 0.9rem;
}
@media (max-width: 511px) {
  .about-nav {
    display: none;
  }
}
.logo {
  max-width: 100%;
}
@media (max-width: 500px) {
  .logo {
    width: 90%;
  }
}
.meet-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
@media (max-width: 719px) {
  .meet-wrapper {
    flex-direction: column;
  }
}
.meet {
  background: linear-gradient(218.22deg, #1976d2 -14.09%, #215cf3 -14.08%, rgba(33, 150, 243, 0.56) 119.48%);
}
.meet h1 {
  font-size: 2.2rem;
  color: white;
  border-bottom: solid #0A2738;
}
@media (max-width: 719px) {
  .meet h1 {
    margin-bottom: 1rem;
  }
}
.meet .tl-info h3 {
  padding: 0.2rem 0;
}
.meet .tl-info h6 {
  padding-bottom: 1rem;
  font-size: 1rem;
  color: #0A2738;
}
.tl {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 511px) {
  .tl {
    flex-direction: column-reverse;
  }
}
.tl-info h3 {
  font-size: 1.2rem;
  color: white;
  padding: 1rem 0;
}
@media (max-width: 511px) {
  .tl-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.devs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
@media (max-width: 500px) {
  .devs {
    flex-direction: column;
  }
}
.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .profile-image {
    padding: 1rem 0;
  }
}
.info {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info h3 {
  padding: 0.2rem 0;
  font-size: 1.2rem;
  color: #0A2738;
}
.info h6 {
  color: #2196F3;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
footer {
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer h6 {
  padding-bottom: 1.5rem;
  color: #2196F3;
  font-size: 1.2rem;
}
footer ul {
  list-style: none;
}
footer li {
  padding: 0.2rem 0;
}
footer a {
  text-decoration: none;
  color: #0A2738;
}
footer a:hover {
  background-color: white;
  color: #2196F3;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.footer-social-icons {
  flex-direction: column;
}
.footer-social-icons .social-icons {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.useful-links {
  flex-direction: column;
  flex-wrap: wrap;
}
.download-help {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.download-help img {
  padding-top: 1rem;
}
.hero-review {
  background-image: url(../src/images/review-bg.png);
  background-color: blue;
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
}
.hero-heading {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.review-card-container {
  width: 20rem;
  height: auto;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.review-card-container h2 {
  text-align: center;
  padding-top: 0.5rem;
}
.review-card-container p {
  text-align: center;
  padding-top: 0.5rem;
}
.card-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.card-bottom {
  background-color: #2196f3;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: "";
  align-items: center;
}
.card-bottom img {
  height: 107px;
}
.class-avatar {
  display: inline-block;
  height: 10rem;
}
