body {
    font-family: 'Roboto Slab', serif;
    font-size: 62.5%;
    
}

a{
    text-decoration: none;
}
.container {
    width: 90vw;
    margin: 0 auto;
     max-width: 1200px;
    //  background-color: greenyellow;
    // @media(max-width: 500px){
    //     flex-direction: column;
    //     padding: 3rem;
    //   }
}

.mobile-hide{
    @media(max-width: 500px){
        display: none;
      }
}