.hero-review {
  background-image: url(../src/images/review-bg.png);
  background-color: blue;
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
}

.hero-heading {
  padding-top: 3rem;
  .flex-center(center,center);
  color: white;
}

.review-card-container {
  width: 20rem;
  height: auto;
  //   padding: 1.5rem;
  .material-shadow();
  h2 {
    text-align: center;
    padding-top: 0.5rem;
  }

  p {
    text-align: center;
    padding-top: 0.5rem;
  }
}

.card-stars {
  .flex-center(space-between, center);
  padding: 1rem;
}

.card-bottom {
  background-color: #2196f3;
  width: 100%;
  height: auto;
  .flex-center("",center);
  img {
    height: 107px;
  }
}

.class-avatar {
  display: inline-block;

  height: 10rem;
}
